---
title: Members
---

.container
  .row
    .span3.member-info
      .face= member_avatar(item, :size => "200", :class => "img-polaroid")
      .site
        %i.icon-link
        = member_site(item)
      .github
        %i.icon-github-alt
        = member_github(item)
      .twitter
        %i.icon-twitter
        = member_twitter(item)
      .email
        %i.icon-envelope
        = member_email(item)
      .movies
        %i.icon-book
        最近在读
        = member_book(item)
    .span9
      .projects
        - if projects = member_github_projects(item)
          %ul.unstyled
          - projects.each do |project|
            %li
              %i.icon-desktop
              = project.name
              %a.btn.btn-small.pull-right{:href => project.html_url}
                %i.icon-github
                Wactch
                %span= project.watchers_count
              %a.btn.btn-small.pull-right{:href => project.html_url}
                %i.icon-github
                Fork
                %span= project.forks_count
              %p.clear-fix= project.description
              
            