.container
  .row
    .span3.member-info
      .face= member_avatar(item, :size => "200", :class => "img-polaroid")
      .site
        %i.icon-link
        = member_site(item)
      .github
        %i.icon-github-alt
        = member_github(item)
      .twitter
        %i.icon-twitter
        = member_twitter(item)
      .book
        %i.icon-book
        - if book = member_book(item)
          最近在读 
          = book
        - else
          最近没有在读书
    .span9
      .projects
        - if projects = member_github_projects(item)
          %h2 Projects
          %ul.unstyled
            - projects.each do |project|
              %li
                %i.icon-desktop
                = project.name
                %a.btn.btn-small.pull-right{:href => project.html_url}
                  %i.icon-github
                  Wactch
                  %span= project.watchers_count
                %a.btn.btn-small.pull-right{:href => project.html_url}
                  %i.icon-github
                  Fork
                  %span= project.forks_count
                %p.clear-fix= project.description
      .posts
        - if item[:rss].present? and posts = member_feed(item)
          %h2 Posts
          %ul.unstyled
            - posts.first(5).each do |post|
              %li
                %i.icon-asterisk
                = link_to(post.title, post.url)
